<mat-icon mat-button style="float: right;" (click)="dialogRef.close()">close</mat-icon>
<h3 mat-dialog-title>{{'Convenience fee of ₹ ' + (fee_gst) + ' inclusive of GST will be charged for this Rent Amount' }}</h3>
<div mat-dialog-content class="prc-box prc-tbl--fullcards">
    <div style="margin: 10px;">
    <div>Base amount: <span style="float: right;">{{baseamont}}</span></div>
    <div>Convenience fee : <span style="float: right;">{{fee}}</span></div>
    <div>GST: <span style="float: right;">{{gst}}</span></div>
    <hr>
    <div><strong>Total Payable Amount: <span style="float: right;">{{total}}</span></strong></div>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close 
               cdkFocusInitial>Ok</button>
  </div>