<div class="row charges_heading_bg margin-0 ">
<div class="col-md-6 offset-md-3 text-center">
  <h4 class="charge_calculator_heading text-black">Rent Pay Charges
  <span class="rg-color"> Calculator</span>
  <small > [ No Hidden Charges ] </small></h4>
</div>
</div>

<div class="container-fluid rentPay_working charge_calculator_main_section">
  <div class="row padding-20 margin-0">
    <div class="col-md-6 border-right-black-2">
      <p class="charges_heading">DETAILS</p>
      <label class="mat-form-field-label">Enter Rent Amount :</label>
      <div class="row text-center margin-top-20">
        <div>
        <mat-form-field>

          <div>
            <input type="number" #amount class="mat-input-element mat-form-field-autofill-control" name="amount"
              matInput [formControl]="amountFormControl" aria-describedby="mat-error-0" id="mat-input-0">
            <span class="mat-form-field-label-wrapper ">
              <label class="mat-form-field-label mat-empty mat-form-field-empty" id="mat-form-field-label-1"
                for="mat-input-0" aria-owns="mat-input-0">
                <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker  ">Enter Rent
                  Amount*</span>
              </label>
            </span>
          </div>
          <mat-hint class="mat-hint mat-form-field-hint-end" id="mat-hint-0">{{amount.value.length}}/ 8</mat-hint>
          <mat-error role="alert" class="mat-error  " id="mat-error-0">Please enter a valid rent amount
            without decimal</mat-error>
          <!-- <mat-error role="alert" class="mat-error  " id="mat-error-0">Please enter a valid rent amount
            maximum of 8 numbers</mat-error> -->
        </mat-form-field>
      </div>
      <div class="row text-center margin-top-10">
        <div class="col-md-4 offset-md-4 col-12 text-center">
          <button mat-button="" type="button" id="calculator-charges-button"
            class="mat-focus-indicator buttonClass button-stepper-next mat-button mat-button-base"
            (click)="calculate(amountFormControl)">
            <span class="mat-button-wrapper">Calculate Charge</span>
            <!-- <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span> -->
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="charges_heading">CHARGES</p>
      <div class="col-md-12 margin-top-30">
        <ng-container *ngFor="let site of RentpayData">
          <div class="prc-box prc-tbl--fullcards ">
            <div class="prc-tbl__row-wrpr">
              <div class="width-30">
                <img alt={{site.slug}} title={{site.name}} [src]="site.logo" decoding="async" data-nimg="true"
                  class="img" (click)="testURL(site.name)" [ngClass]="site.name==='CRED' ? 'bg-black img' : 'img'">
              </div>
              <div class="width-20">
                <div><h3>₹{{Rentamount + ((Rentamount) * (site.fee/100)) + ((Rentamount) * (site.fee/100)*
                  (site.GST/100))}}</h3>
                <span (click)="openDialog(Rentamount,site.fee,site.GST)" class="col-blue">Details<mat-icon style="padding-top: 8px;">keyboard_arrow_down</mat-icon></span></div>
               
              </div>
              <div class="width-40 d-flex">
                <button style="width: 80%;" value={{site.link}} >{{site.name}} : </button>
              </div>
              <div class="width-20 d-flex">
                <h5 style="width: 80%;">Rental Aggrement Required:
                  <strong>{{(Rentamount > site.RentalDocs) ?'YES' : 'NO'}}</strong> </h5>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>